<!doctype html>
<head>
	<title>Metro delay Info API</title>
	<script src="/static/base.js"></script>
	<link href="/static/base.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet"> 
</head>
<body>
	<h1>metro no.1 ~ no.8 delay info system</h1>
  <h3>To use: https://ssubway.jungwon0719a.repl.co/apis/delay?line={line_number}</h3>
	<a href="/delay?line=1">metro no.1 delay info</a>
  <a href="/delay?line=2">metro no.2 delay info</a>
  <a href="/delay?line=3">metro no.3 delay info</a>
  <a href="/delay?line=4">metro no.4 delay info</a>
  <a href="/delay?line=5">metro no.5 delay info</a>
  <a href="/delay?line=6">metro no.6 delay info</a>
  <a href="/delay?line=7">metro no.7 delay info</a>
  <a href="/delay?line=8">metro no.8 delay info</a>
</body>